<section>
  <h1>About citizen428</h1>
  <p>I'm Michael Kohl, generally known as citizen428 online. I mainly
  write about programming, and do a regular <a href="{{ root_url }}/blog/categories/informationoverload/">blog post series</a> collecting interesting
  articles I enjoyed throughout the week.</p>
<div id="social_media_icons" align="center">
<a href="http://twitter.com/citizen428"><img src="{{ root_url }}/images/icons/twitter.png"
                                             alt="Twitter" /></a>
<a href="https://plus.google.com/u/0/101046237539584353961/posts"><img src="{{ root_url }}/images/icons/google.png"
                                             alt="Twitter"
                                             /></a>
<a href="http://www.linkedin.com/in/citizen428"><img src="{{ root_url }}/images/icons/linkedin.png"
                                             alt="Twitter" /></a>
</div>
</section>
